[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

django = "==2.0.5"
django-tenant-schemas = "*"
djangorestframework = "*"
django-tenants = "*"
"python3-openid" = "*"
