<!DOCTYPE html>
<html>
<head>
	<title>Django Multi Tenancy</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="{% static 'js/smoothie.js' %}"></script>
	<link href="{% static 'css/smoothie.css' %}" rel="stylesheet" type="text/css">
</head>
<body>

{% block content %}
{% endblock %}
<div id="summary">
{% block summary %}
{% endblock %}
</div>
</body>
</html>
<style type="text/css">

	}
</style>